@import url("materialize.min.css");
@import url("font-awesome.css");
@import url("login.css");
@import url("status.css");
@import url("animation.css");
@import url("font.css");
.body-login { overflow: hidden; font-family: 'roboto-light' !important; color: #676a6c; background: #f3f3f4; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; }

.clear { clear: both; }

.hidden { display: none; }

.pad-left-20 { padding-left: 20px; }

.font-color { color: #676a6c; }

.font-color-2 { color: green; }

.reset-margin { margin: 0; }

.nav-green { background: #02796e; }

.cursor { cursor: pointer; }

.overflow { overflow-y: auto; }

.sidebar-left { max-width: 220px; height: 100%; min-height: 315px; left: 0; position: fixed; z-index: 996; background: white; -webkit-transition: all .4s; transition: all .4s; -webkit-transform: translateX(-105%); transform: translateX(-105%); -webkit-box-shadow: 2px 0px 1px #e8e8e8; box-shadow: 2px 0px 1px #e8e8e8; }

.menu-sidebar { overflow-y: auto; height: calc(100% - 60px); padding-bottom: 35px; }
.menu-sidebar .list { padding: 0; }
.menu-sidebar .list .menu-list { display: block; color: #676a6c; -webkit-box-shadow: inset 0px -1px #b5bdc3; box-shadow: inset 0px -1px #b5bdc3; padding: 10px; margin-left: 20px; }

.logout { -webkit-transition: all .4s; transition: all .4s; text-align: center; z-index: 997; position: fixed; left: 0; bottom: 0; height: 35px; width: 220px; color: #676a6c; font-weight: bold; -webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.34), 0 0 0px 0 rgba(0, 0, 0, 0.14); box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.34), 0 0 0px 0 rgba(0, 0, 0, 0.14); padding: 10px 10px; background: white; -webkit-transform: translateX(-105%); transform: translateX(-105%); }

.sidebar-show { -webkit-transform: translateX(0) !important; transform: translateX(0) !important; }

.box-content { min-width: 320px; width: 100vw; -webkit-transition: all .4s; transition: all .4s; }

.box-content-mini { width: calc(100vw - 220px); }

.title { height: 100%; display: inline-block; font-size: 15px; font-weight: bold; padding: 0; margin: 5px 20px; }

.title-content { margin-bottom: 2px; background: white; color: #676a6c; -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14); box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14); }

.block-content { overflow-x: hidden; max-height: calc(100vh - 130px); }

.content { -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); height: auto; min-height: 500px; margin: 0 0px 5px 5px; padding: 20px; background: white; }

.footer { position: fixed; bottom: 0; right: 0; width: 100vw; min-width: 320px; -webkit-transition: all .4s; transition: all .4s; border-top: 1px solid #e7eaec; background: white; padding: 6px 20px; -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14); box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14); }

.footer-mini { width: calc(100vw - 220px); }

.avatar { width: 70px; height: 70px; }

.modal-edit { top: 5%; max-height: 95%; width: 95%; margin: auto; }

.modal-overlay { top: 0 !important; }

.scrollbar::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background-color: #F5F5F5; }

.scrollbar::-webkit-scrollbar { width: 5px; }

.scrollbar::-webkit-scrollbar-thumb { background-color: #02796e; }
