@import url('bootstrap.min.css');
@import url('font-awesome.css');


@font-face {
  font-family: 'marcellus_scregular';
  src: url('../fonts/marcellussc-regular-webfont.eot');
  src: url('../fonts/marcellussc-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/marcellussc-regular-webfont.woff2') format('woff2'),
  url('../fonts/marcellussc-regular-webfont.woff') format('woff'),
  url('../fonts/marcellussc-regular-webfont.ttf') format('truetype'),
  url('../fonts/marcellussc-regular-webfont.svg#marcellus_scregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body::-webkit-scrollbar-track
{

}

body::-webkit-scrollbar
{
  width: 6px;
  background: white;
}

body::-webkit-scrollbar-thumb
{
  background-color: gray;
}
.scrollbar::-webkit-scrollbar-track
{

}

.scrollbar::-webkit-scrollbar
{
  width: 1px;
}

.scrollbar::-webkit-scrollbar-thumb
{
  background-color: red;
}
.noi_dung_gv {
  height: 297px;
  overflow-y: overlay;
}
.noi_dung_gv_1 {
  height: 386px;
  overflow-y: overlay;
}
.noi_dung_hs {
  height: 440px;
  overflow-y: overlay;
}
.noi_dung_gv_2 {
  height: 229px;
  overflow-y: overlay;
}
.nd_chat {
  display: block;
  padding-bottom: 10px;
}
.send_gv {

}
.chat .tk_chat {
  
}
.chat .txt_chat{
  color: black;
}
.chat .ten_chat {
  padding-top: 5px;
  color: blue;
  display: block;
  padding-bottom: 5px;
}
.chat .id_chat{
  font-size: 12px;
}
.chat .tg_chat{
  font-size: 12px;
}
.chat{
  padding: 10px;
  padding-bottom: 0px;
}
.noi_dung {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 391px;
}
.noi_dung_lt {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 440px;
}
.send_chat{
  padding-top: 15px;
}
.full{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dap_an {
  font-size: 14px;
  display: block;
}
.da_dung {
  display: inline-block;
  font-size: 16px;
  color: #f300a8;
}
#lambai {
  padding: 2px;
  border: 0;
}
.rlambai {
  margin-bottom: 10px;
  border: 0;
}
.lambai {
  padding:  5px;
  border: 0;
}
.lambai ul li{
  color: #484141;
  display: inline-block;
  position: relative;
  float: right;
  width: 25%;
  height: auto;
  padding-top: 15px;
}
.lambai label {
  font-size: 15px;
  font-weight: 300;
  padding-left: 10px;
}
.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 438px;
  overflow-y: scroll;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.table-ctl thead {
  width: 100%;
}
.table-ctl tbody {
  height: 330px;
  overflow-y: scroll;
  width: 100%;
}
.table-ctl thead, .table-ctl tbody, .table-ctl tr, .table-ctl td, .table-ctl th {
  display: block;
}
.table-ctl tbody td, .table-ctl thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.font{
  font-family: 'marcellus_scregular', serif;
  text-shadow: 0px 0px 15px rgba(0,0,0,0.15)
}
.foot {
  color: #fffaee;
  font-weight: bold;
  text-shadow: #45cdf5 1px 1px 1px;
  background-color: #11bce0;
  background-image: url(../img/copy.gif);
  background-repeat: repeat-x;
  background-position: 50% top;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 2px;
  border: 1px solid #88beff;
}
.logo {
  background-color: #ccf7ff;
  background-image: url(../img/logo.gif);
  border: 1px solid #88beff;
  background-repeat: repeat-x;
  background-position: 50% top;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 2px;
  border-radius: 4px;
}
.navbar {
 margin-bottom: 10px !important;
}
.overflow {
	overflow-x: hidden;
	overflow-y: overlay;
	height: 525px;
}
.overflow-hs {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 470px;
}
.overflow-bt {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 407px;
  margin-bottom: 20px;
}
.btn-nopbai{
  width: 48%;
  display: inline-block;
  margin-bottom: 5px;
  margin: 0 5px 5px 5px;
}
.btn-max {
  width: 100%;
}
.overflow-gv {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 416px;
}
.overflow-kq {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 371px;
  margin-bottom: 10px
}
.ket_qua {
  font-family: marcellus_scregular;
  display: inline-block;
  color: blue;
  font-size: 18px;
  text-shadow: 0.3px 0.3px rgba(62, 61, 61, 0.45);
}
.diem {
  color: red;
  font-size: 20px;
  display: inline-block;
}
.panel {
	background-color: rgba(255, 255, 255, 1) !important; 
}

a {
  color: #f5f5f5 !important;
}
.alert {
	padding: 0px !important;
  margin-bottom: 0px !important;
}
.login {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.login h1 {
  font-size: 40px;
  color: white;
  font-weight: 200;
}
.login h3 {
  font-family: marcellus_scregular;
  font-size: 20px;
  color: white;
  font-weight: 200;
}
.login:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: block;
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
form.f {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form.f input[type="text"],form.f input[type="password"] {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.f button {
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
}

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
  font-weight: 300;
}

body ::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
  font-weight: 300;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 5px !important;
  padding-left: 5px !important;
}
