<div class="title-content">
	<span class="title">Chi Tiết Lớp <span id="class_name_detail"></span></span>
</div>
<div class="block-content overflow scrollbar">
	<div class="content">
		<div class="preload hidden" id="preload">
			<img src="res/img/loading.gif" alt="">
		</div>
		<table class="centered striped responsive-table" id="table_classes_detail">
			<thead>
				<tr>
					<th class="">ID</th>
					<th class="">Avatar</th>
					<th class="">Mã Học Sinh</th>
					<th class="">Tên</th>
					<th class="">Ngày Sinh</th>
					<th class="">Giới Tính</th>
					<th class="">Online Cuối</th>
					<th class=""><i class="material-icons">settings</i></th>
				</tr>
			</thead>
			<tbody class="scrollbar" id="class_detail">
			</tbody>
		</table>
	</div>
</div>
</div>
<script type="text/javascript">
	get_class_detail(get_url_parameter('class_id'));
</script>