<div class="title-content">
	<span class="title">Danh Sách Lớp</span>
</div>
<div class="block-content overflow scrollbar">
	<div class="content">
		<div class="preload hidden" id="preload">
			<img src="res/img/loading.gif" alt="">
		</div>
		<table class="centered striped responsive-table" id="table_list_classes">
			<thead>
				<tr>
					<th class="">ID</th>
					<th class="">Tên Lớp</th>
					<th class="">Khối</th>
					<th class=""><i class="material-icons">settings</i></th>
				</tr>
			</thead>
			<tbody class="scrollbar" id="list_classes">
			</tbody>
		</table>
	</div>
</div>
</div>