<div class="box-content right box-content-mini" id="box-content">
	<div class="title-content">
		<span class="title">Quản Lý Thông Tin class</span>
	</div>
	<div class="block-content overflow scrollbar">
		<div class="content fadeRight">
			<table class="striped centered responsive-table">
				<thead>
					<tr>
						<th class="">ID</th>
						<th class="">Tên Lớp</th>
						<th class="">Khối</th>
						<th class="">Chủ Nhiệm</th>
						<th class=""><i class="material-icons">settings</i></th>
					</tr>
				</thead>
				<tbody class="scrollbar" id="list_classes">
				</tbody>
			</table>
		</div>
		<div class="content fadeRight">
			<div class="row col l12">
				<form action="" method="POST" role="form" id="add_class_form">
					<div class="col l6 s12">
						<div class="input-field">
							<label for="class_name">Tên Lớp</label>
							<input type="text" name="class_name" id="class_name" required oninput="valid_class_name(this.value,this.name)">
							<img src="../res/img/true.png" class="valid-img hidden" id="valid-class-true">
							<img src="../res/img/false.png" class="valid-img" id="valid-class-false">
						</div>
						<div class="input-field">
							<select name="grade_id">
							</select>
							<label>Khối</label>
						</div>
						<div class="input-field">
							<select name="teacher_id">
							</select>
							<label>Gíao Viên</label>
						</div>
					</div>
					<div class="col l12">
						<button type="submit" class="btn" id="add_class" name="add-class">Thêm</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>