@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    // animation-name: fadeIn;
    // animation-duration: 0.4s;
}

.fadeInLogin {
    animation-name: fadeIn;
    animation-duration: 1s;
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeRight {
    animation-name: fadeRight;
    animation-duration: 0.5s;
}