<div class="title-content">
    <span class="title">Thêm Câu Hỏi</span>
    <a href="index.php?action=show_questions_panel" class="cursor"><span class="title">Quản Lý Câu Hỏi</span></a>
</div>
<div class="block-content overflow scrollbar">
    <div class="content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#add_normal" class="active" style="color: #02796e; font-weight: bold;">Thêm Câu Hỏi</a></li>
                    <li class="tab col s6"><a href="#_add_via_file" style="color: #02796e; font-weight: bold;">Thêm Bằng File</a></li>
                </ul>
            </div>
            <div id="add_normal" class="col s12">
                <form action="" method="POST" role="form" id="add_question_form">
                    <span class="title">Hỗ trợ nhập công thức bằng LaTeX</span>
                    <div class="col l12 s12" style="padding-top: 20px">
                        <span class="title">Nhập Câu Hỏi:</span>
                        <div class="input-field">
                            <textarea id="question_detail" name="question_detail" class="" required></textarea>
                        </div>
                    </div>
                    <div class="row col l12">
                        <span class="title">Đáp Án A:</span>
                        <div class="input-field">
                            <textarea id="answer_a" name="answer_a" class="" required></textarea>
                        </div>
                        <span class="title">Đáp Án B:</span>
                        <div class="input-field">
                            <textarea id="answer_b" name="answer_b" class="" required></textarea>
                        </div>
                        <span class="title">Đáp Án C:</span>
                        <div class="input-field">
                            <textarea id="answer_c" name="answer_c" class="" required></textarea>
                        </div>
                        <span class="title">Đáp Án D:</span>
                        <div class="input-field">
                            <textarea id="answer_d" name="answer_d" class="" required></textarea>
                        </div><br />
                        <div class="input-field">
                            <label for="correct_answer" class="active">Chọn Đáp Án Đúng</label>
                            <select name="correct_answer" id="correct_answer">
                                <option value="A" selected>A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <select name="grade_id" id="grade_id">
                            </select>
                            <label>Chọn Khối</label>
                        </div>
                        <span class="title hidden" id="subject_error" style="color: red">Cần tạo môn học trước khi thêm câu hỏi, tạo <a href="/index.php?action=show_classes_panel">tại đây</a></span>
                        <div class="input-field">
                            <select name="subject_id" id="subject_id">
                            </select>
                            <label>Chọn Môn</label>
                        </div>
                        <div class="input-field">
                            <input name="unit" type="number" required="">
                            <label>Câu Hỏi Thuộc Chương?</label>
                        </div>
                        <div class="input-field">
                            <select name="level_id" id="level_id">
                                <option value="1">Dễ</option>
                                <option value="2">Trung Bình</option>
                                <option value="3">Khó</option>
                            </select>
                            <label>Độ Khó Câu Hỏi?</label>
                        </div>
                        <div class="col l12 s12">
                            <button type="submit" class="btn" id="add_question" name="add-question">Thêm</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="_add_via_file" class="col s12">
                <span class="title">Tải File Mẫu: <a href="res/files/mau-them-danh-sach-cau-hoi.xlsx">TẠI ĐÂY</a></span><br />
                <span class="title">Hỗ trợ nhập công thức bằng LaTeX</span><br />
                <span class="title">Lưu Ý: <br />1, Không sửa file mẫu tránh gây lỗi khi nhập dữ liệu.</span>
                <br />
                <span class="title">2, Hiện tại chưa hỗ trợ thêm nội dung hình ảnh, âm thanh,... vào câu hỏi.</span>
                <br />
                <span id="error" class="title" style="color: red"></span>
                <form id="add_via_file" enctype="multipart/form-data">
                    <div class="file-field input-field col s6">
                        <div class="input-field">
                            <select name="subject_id" id="_subject">
                            </select>
                            <label>Môn</label>
                        </div>
                        <div class="input-field btn">
                            <span>File</span>
                            <input type="file" name="file_data" id="file_data" required="">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <br />
                        <div class="input-field" style="padding-left: 0">
                            <button class="btn" type="submit" name="submit">Thêm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script src="res/js/add_question.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('question_detail', {
        extraPlugins: 'mathjax,format',
        entities : false
    });
    CKEDITOR.replace('answer_a', {
        extraPlugins: 'mathjax,format',
        entities : false
    });
    CKEDITOR.replace('answer_b', {
        extraPlugins: 'mathjax,format',
        entities : false
    });
    CKEDITOR.replace('answer_c', {
        extraPlugins: 'mathjax,format',
        entities : false
    });
    CKEDITOR.replace('answer_d', {
        extraPlugins: 'mathjax,format',
        entities : false
    });
</script>