<div class="title-content">
	<span class="title">Quản Lý Bài Kiểm Tra</span>
	<div class="action hidden" id="select_action">
		<a class="waves-effect waves-light btn" onclick="delete_check()">Xóa
			<i class="material-icons right">delete</i>
		</a>	
	</div>
</div>
<div class="block-content overflow scrollbar">
	<div class="content">
		<div class="preload hidden" id="preload">
			<img src="res/img/loading.gif" alt="">
		</div>
		<table class="striped centered responsive-table" id="table_units">
			<thead>
				<tr>
					<th class="">
						<p><label><input type="checkbox" id="select_all" /><span></span></label></p>
					</th>
					<th class="">ID</th>
					<th class="">Tên</th>
					<th class="">Thời Gian Làm Bài (Phút)</th>
					<th class="">Trạng Thái</th>
					<th class="">Thời Gian Hết Hạn</th>
					<th class=""><i class="material-icons">settings</i></th>
				</tr>
			</thead>
			<tbody class="scrollbar" id="list_units">
			</tbody>
		</table>
	</div>
	<div class="content fadeRight">
		<div class="row col l12">
			<form action="" method="POST" role="form" id="add_unit_form">
				<div class="col l6 s12">
					<div class="input-field">
						<label for="detail">Tên Chương</label>
						<input type="text" name="detail" id="detail" required>
					</div>
					<div class="input-field">
						<label for="time_to_do">Thời Gian Làm Bài (Phút)</label>
						<input type="text" name="time_to_do" id="time_to_do" required>
					</div>
					<div class="input-field">
						<select name="status_id" id="status_id" onchange="check_status('add',this.value)">
							</select>
						<label>Trạng Thái</label>
					</div>
					<div class="input-field hidden" id="close_time_add">
						<label for="close_time" class="active">Thời Gian Đóng</label>
						<input type="datetime-local" name="close_time">
						<span class="helptext">VD: 2018-11-16 15:25:33</span>
					</div>
				</div>
				<div class="col l12">
					<button type="submit" class="btn" id="add_class" name="add-class">Thêm</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
<script src="res/libs/DataTables/js/jquery.dataTables.js"></script>
<script src="res/js/units_panel.js"></script>