<div class="title-content">
    <span class="title">Lịch Sử Trò Chuyện</span>
    <a href="chat" class="cursor"><span class="title">Quay Lại Trò Chuyện</span></a>
</div>
<div class="block-content overflow scrollbar">
    <div class="content">
        <div class="preload hidden" id="preload">
            <img src="res/img/loading.gif" alt="">
        </div>
        <div id="student_chats" class="notification_content overflow scrollbar" style="height: 500px;">
        </div>
    </div>
</div>
</div>
<script src="res/js/student_chat_all.js"></script>