<div class="title-content">
	<span class="title">Trò Chuyện</span>
	<a class="cursor" onclick="get_chats()"><span class="title">Làm Mới</span></a>
	<a href="index.php?action=show_all_chat" class="cursor"><span class="title">Xem Lịch Sử Chat</span></a>
</div>
<div class="block-content overflow scrollbar">
	<div class="content">
		<div class="preload hidden" id="preload">
			<img src="res/img/loading.gif" alt="">
		</div>
		<div id="student_chats" class="notification_content overflow scrollbar" style="height: 410px;">
		</div>
		<div class="chat">
			<form action="">
				<div class="input-field">
					<label for="content" class="active" id="label-chat">Nhập nội dung (Enter để gửi)</label>
					<input type="text" name="content" id="content" autofocus>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
<script src="res/js/student_chat.js"></script> 